
.CatList {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 30px;
}

table {
	border: 2px solid black;
	width: 800px;
	height: 200px;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.modal {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto;
 }

td {
	text-align: center;
}

.btn-space {
    margin: 10px;
}
